.navbar {
    background-color: black !important;
    box-shadow: 0px 0px 2px #03e9f4, 0px 0px 4px #03e9f4, 0px 0px 6px #03e9f4, 0px 0px 30px #03e9f4 !important;
    width: 100%;
    height: 100px;
}
.collapse:not(.show) {
    display: none !important;
}

.nav-link {
    color: #03e9f4 !important;
    border: 1.5px solid #03e9f4;
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
    transition: all 0.5s ease-out;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav-link:hover,
.nav-link.active,
.nav-link:focus {
    background-color: #03e9f4 !important;
    color: #050801 !important;
    box-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 100px #03e9f4; 
}

.btn-idioma {
    color: #03e9f4 !important;
    border: 1.5px solid #03e9f4 !important;
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
    transition: all 0.5s ease-out;
    width: -moz-fit-content;
    width: fit-content;
    background-color: transparent !important;
}
.btn-idioma:hover {
    background-color: #03e9f4 !important;
    color: #050801 !important;
    box-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 100px #03e9f4;
}

.lista-idiomas {
    background-color: rgb(73, 89, 121) !important;
    /*top: 65px !important;*/
    border: 1.5px solid #03e9f4 !important;
    box-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 100px #03e9f4;
}

.lista-idiomas li button {
    color: #03e9f4 !important;
    transition: all 0.5s ease-out;
}
.lista-idiomas li button:hover {
    background-color: #03e9f4 !important;
    color: #050801 !important;
}
.navbar-toggler {
    border: 1px solid #03e9f4 !important;
    transition: .5s !important;
}
.navbar-toggler svg {
    color: #03e9f4 !important;
}
.navbar-toggler:focus
{
    box-shadow: none !important;
}
@media only screen and (max-width: 992px) {
    .nav-link {
        min-width: 250px !important;
    }
}
.offcanvas {
    background-color: #495979 !important
    ;
}

@supports (-webkit-box-reflect: below 1px linear-gradient(transparent, #0005)) {
    .nav-link:hover,
    .nav-link.active,
    .nav-link:focus,
    .lista-idioma,
    .btn-idioma:hover{
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); 
    }
}