.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

body {
    font-family: 'Anonymous Pro', monospace; 
}

/*Navbar*/
    .navbar {
        background-color: #495979 !important;
        box-shadow: 0px 0px 2px #03e9f4, 0px 0px 4px #03e9f4, 0px 0px 6px #03e9f4, 0px 0px 30px #03e9f4 !important;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }
    .collapse:not(.show) {
        display: none !important;
    }
    
    .nav-link {
        color: #03e9f4 !important;
        border: 1.5px solid #03e9f4;
        border-radius: 7px;
        margin-left: 5px;
        margin-right: 5px;
        transition: all 0.5s ease-out;
        width: -moz-fit-content;  
        width: fit-content;
    }
    .nav-link:hover,
    .nav-link.active,
    .nav-link:focus {
        background-color: #03e9f4 !important;
        color: #050801 !important;
        box-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 100px #03e9f4;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); 
    }
    .btn-idioma {
        color: #03e9f4 !important;
        border: 1.5px solid #03e9f4 !important;
        border-radius: 7px;
        margin-left: 5px;
        margin-right: 5px;
        transition: all 0.5s ease-out;
        width: -moz-fit-content;
        width: fit-content;
        background-color: transparent !important;
    }
    .btn-idioma:hover {
        background-color: #03e9f4 !important;
        color: #050801 !important;
        box-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 100px #03e9f4;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    }
    .lista-idiomas {
        background-color: rgb(73, 89, 121) !important;
        /*top: 65px !important;*/
        border: 1.5px solid #03e9f4 !important;
        box-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 100px #03e9f4;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    }
    .lista-idiomas li button {
        color: #03e9f4 !important;
        transition: all 0.5s ease-out;
    }
    .lista-idiomas li button:hover {
        background-color: #03e9f4 !important;
        color: #050801 !important;
    }
/*End Navbar*/

.img-fondo {
    background-image: url("../public/images/fondo1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}
.fondo {
    padding-top: 20px;
}
.contenedor img {
    width: 30px;
    height: 70px;
}
.contenedor h2 {
    font-size: 70px;
    text-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 100px #03e9f4;
    color: #03e9f4;
    margin: 0px !important;
}
.footer {
    background-color: black !important;
}
.redes a {
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 5px;
    transition: all 0.5s ease-out;
}
.redes a img {
    width: 40px;
    height: 40px;
}
.redes a:hover {
    background-color: #03e9f4;
    color: #050801;
    box-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 100px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
     
}
.derecha {
    background-image: url("../public/images/imagen1.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
.izquierda a img {
    width: 40px;
    height: 40px;
    transition: 0.5s;
}

.izquierda a {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.5s;
    color: white !important;
}

.izquierda a:hover{
    text-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 100px #03e9f4;
}
.izquierda a:hover img  {
    box-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 100px #03e9f4;
    background-color: #03e9f4;
    border-radius: 50px;
}
  
.izquierda {
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 90vh;*/
    flex-direction: row;  
}
.blue-btn {
    color: #03e9f4;
    border: 1.5px solid #03e9f4;
    border-radius: 7px;  
}
.blue-btn:hover {
    background-color: #03e9f4 !important;
    color: #050801;
    box-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 100px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); 
}
.descripcion {
    color: white;
    text-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 100px #03e9f4;
}
.descripcion p {
    text-align: justify;
}
.card {
    /*background-image: url("../img/card.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;*/
    background-color: transparent !important;
    border: none !important;
    transition: all 0.5s ease-out;  
}
/*.card:hover {
    box-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 100px #03e9f4;
    transition: all 0.5s ease-out;  
}*/

@media only screen and (max-width: 768px) {
    .contenedor h2 {
        font-size: 40px;
    }
}
@media only screen and (max-width: 992px) {
    .nav-link {
        min-width: 250px !important;
    }
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    min-height: 500px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border: 2px solid #03e9f4;
    border-radius: 10px !important;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination {
    position: relative !important;
    bottom: -5px !important;
}

.swiper-button-next, 
.swiper-button-prev {
    color: #03e9f4 !important;
    transition: all 0.5s ease-out;  
}
.swiper-button-next:hover, 
.swiper-button-prev:hover {
    text-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 100px #03e9f4;
}

.swiper-pagination-bullet-active {
    background-color: #03e9f4 !important;
    box-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 100px #03e9f4;
}
.active {
    background-color: #03e9f4 !important;
}
.contenedor .blue-btn {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.5s;
    background-color: transparent;
}
.navbar-toggler {
    border: 1px solid #03e9f4 !important;
    transition: 0.5s !important;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
    box-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 100px #03e9f4 !important;
    background-color: #03e9f4;
}
.navbar-toggler:hover svg,
.navbar-toggler:focus svg {
    color: black !important;
}
.navbar-toggler svg {
    color: #03e9f4 !important;
}
.footer span {
    color: white !important;
}
.footer .redes a {
    width: 20px;
    height: 20px;
}
.footer .redes a img {
    width: 20px;
    height: 20px;
    vertical-align: baseline !important;
}
.btn-primary a,
.btn-view-primary {
    color: #03e9f4;
    border: 1.5px solid #03e9f4;
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
    transition: all 0.5s ease-out;
    min-width: 100px !important;
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    padding: 5px;
}
.btn-primary a:hover,
.btn-view-primary:hover {
    background-color: #03e9f4;
    color: #050801;
    box-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 100px #03e9f4;
}
.btn-view-secondary {
    color: black;
    border: 1.5px solid #03e9f4;
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
    transition: all 0.5s ease-out;
    min-width: 100px !important;
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: rgb(3, 233, 244, 0.8);
    padding: 5px;
}
.btn-view-secondary:hover {
    background-color: #03e9f4;
    color: #050801;
    box-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 100px #03e9f4;
}
.modal-content {
    background-color: rgb(0, 0, 0, 0.7) !important;
    border: 1px solid #3dced9 !important;
    border-radius: 5px !important;
    box-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #03e9f4, 0px 0px 5px #03e9f4, 0px 0px 50px #03e9f4 !important;
}
.modal-content .modal-header,
.modal-content .modal-body,
.modal-content .modal-footer {
    color: white !important;
}

.swiper-slide {
    background-color: rgb(0, 0, 0, 0.7);
}
.swiper-slide img {
    width: 150px !important;
}
.swiper-slide h3 {
    color: white;
    text-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 100px #03e9f4;
}

.logotipo {
    color: white !important;
    text-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 100px #03e9f4;
}

.titulo {
    position: absolute;
}
.card .hover {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 0;
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease-out;
    width: 100%;
    text-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 100px #03e9f4;
    color: white !important;
}

.card:hover .hover {
    opacity: 1;
}

.hover span {
    background: #3dced9;
    color: #fff;
    padding: 10px;
    border: 1px solid #3dced9;
    border-radius: 5px !important;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}
.card img {
    width: 80px;
    height: 80px;
}

.card:hover img {
    filter: blur(4px);
}

.tarjetas {
    border: 1px solid #03e9f4 !important;
    border-radius: 10px;
    background: rgb(0, 0, 0, 0.7) !important;
}

.imgSobreMi {
    width: 100% !important;
}