@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

body {
    font-family: 'Anonymous Pro', monospace; 
}

@media only screen and (max-width: 768px) {
    .contenedor h2 {
        font-size: 40px;
    }
}

.principal {
    background-image: url("/public/images/fondo1.webp");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    overflow: hidden;
}